name: Build pip wheels

on:
  push:
    branches:
      - main

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Install apt packages
        run: apt install libopenblas-dev
      - name: Build source distribution and wheel
        run: |
          python -m pip install build
          python -m build
      - uses: actions/upload-artifact@v3
        with:
          path: dist/*